@import "tailwindcss";



body {

  background-color: #f8fafc; 
  color: #1e293b; 
  min-height: 100vh;
}


main {
  background-color: transparent;
  padding-top: 0!important;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes scale-in {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #12bb9c;
  border-radius: 10px;
}
